@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: black;
}
  
.circle-shadow-background {
  position: relative;
  width: 100%;
  height: 100%;
}

.circle-shadow {
  position: absolute;
  border-radius: 50%;
  background-color: #ffffff; /* Circle color */
  width: 50px; /* Circle diameter */
  height: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Shadow color and strength */
}

/* Add more circles or customize as needed */
.circle-shadow:nth-child(2) {
  top: 20%;
  left: 30%;
}

.circle-shadow:nth-child(3) {
  top: 70%;
  left: 70%;
}
/* .swiper-button-next,.swiper-button-prev{ */
  /* color: burlywood; */
  /* background-color: burlywood; */
  /* padding: 20px; */
  /* border-radius: 50%; */
/* } */

/* Add more styles or customize as needed */

.swiper-button-next::after,.swiper-button-prev::after{
  color: burlywood ;
  /* background-color: yellow; */
  font-size: 5px;
  font-weight: bold;
  width: 10px;
  height: 10px;
}

.swiper-pagination-bullet {
  background-color: yellow;
  width: 15px;
  height: 15px;
}

.swiper-scrollbar{
  display: none;
}

.swiper-pagination{
  display: none;
}

.swiper-container {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.show-sidebar{
  background-color: white;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 15px;  
  height: 15px; 
  background-color: white; 
  /* border-radius: 50%;  */
  border: 2px solid black; 
  cursor: pointer;
  outline: none; 
}

input[type="checkbox"]:checked {
  background-color: orange; 
} 